.dark {
    scrollbar-color: #2A2C2E #1C1E1F;
}

.light {
    scrollbar-color: #E3E3E3 rgba(22, 22, 22, 0.555);
}

.dark::-webkit-scrollbar {
    background-color: #1C1E1F;
}

.dark::-webkit-scrollbar-thumb {
    background-color: #2A2C2E;
}

.dark::-webkit-scrollbar-corner {
    background-color: rgb(24, 24, 24);
}

.light::-webkit-scrollbar {
    background-color: #E3E3E3;
}

.light::-webkit-scrollbar-thumb {
    background-color: rgba(22, 22, 22, 0.555);
}

.light::-webkit-scrollbar-corner {
    background-color: rgb(208, 208, 208);
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 17px;
    line-height: 1.6;
    height: 100%;
    margin: 0px;
}

html.dark, body.dark {
    background-color: #1A1C1D;
    color: #D8D6D0;
}

html.light, body.light {
    background-color: #F2F2F2;
    color: #161209
}

a {
    text-decoration: none;
    color: #389DFF;
}

a:hover {
    text-decoration: underline;
}

aside {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    /* 0.5 second transition effect to slide in the sidenav */
}

aside.dark {
    background-color: #2D3133;
    border-right: 1px solid #3D3D3D;
}

aside.light {
    background-color: #EEEEEE;
    border-right: 1px solid #A3A3A3;
}

aside a.dark {
    color: #EEEEEE;
}

aside a.light {
    color: #2D3133;
}

aside i[class^="fa"] {
    padding: 0em 0.4em 0em 0em;
}

aside header {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

aside header.dark {
    background-color: #23282E;
    border-bottom: 1px solid #3D3D3D;
}

aside header.light {
    background-color: #E4E4E4;
    border-bottom: 1px solid #A3A3A3;
}

aside header img {
    margin-top: 20px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 5px;

}

aside a:hover {
    text-decoration: none;
}

aside nav {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

aside nav a {
    padding: 10px 0%;
    width: 100%;
    min-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-align: center;
    transition: 0.2s;
}

aside nav a:hover {
    background-color: rgb(48, 75, 102);
}

#branding {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#branding.dark {
    color: #BCBCC4;
}

#branding.light {
    color: #2D3133
}

#npq {
    color: rgb(119, 125, 143);
}

#closebtn {
    transition: 0.3s;
    border-radius: 7px;
    position: fixed;
    left: 200px;
    top: 0px;
    padding: 10px;
}

#closebtn.dark {
    color: rgba(238, 238, 238, 0.664);
    background-color: rgba(61, 61, 61, 0.555);
}

#closebtn.light {
    color: rgba(22, 22, 22, 0.664);
    background-color: rgba(208, 208, 208, 0.555);
}

#scroll-top {
    transition: 0.3s;
    border-radius: 7px;
    position: fixed;
    left: 200px;
    top: 50px;
    padding: 10px 5px;
    font-size: 18px;
    writing-mode: vertical-lr;
    text-decoration: none;
}

#scroll-top.dark {
    color: rgba(238, 238, 238, 0.664);
    background-color: rgba(61, 61, 61, 0.555);
}

#scroll-top.light {
    color: rgba(22, 22, 22, 0.664);
    background-color: rgba(208, 208, 208, 0.555);
}

#light-switcher {
    transition: 0.3s;
    border-radius: 7px;
    position: fixed;
    left: 200px;
    top: 145px;
    padding: 10px 5px;
    font-size: 18px;
    writing-mode: vertical-lr;
    text-decoration: none;
}

#light-switcher.dark {
    color: rgba(238, 238, 238, 0.664);
    background-color: rgba(61, 61, 61, 0.555);
}

#light-switcher.light {
    color: rgba(22, 22, 22, 0.664);
    background-color: rgba(208, 208, 208, 0.555);
}

#sidetoc {
    transition: all 0.4s;
    position: fixed;
    right: 8px;
    max-width: 300px;
    overflow: auto;
    top: 130px;
    width: 210px;
    bottom: 150px;
    border-radius: 8px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#sidetoc::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

#sidetoc header {
    font-size: 18px;
    text-align: center;
}

#sidetoc header h4 {
    padding: 5px;
    margin: 5px;
}

#sidetoc ul {
    list-style: none;
    white-space: nowrap;
    padding: 0px 15px;
}

#sidetoc nav>ul {
    margin: 0px;
    padding: 0px;
}

#sidetoc li a.dark {
    color: rgba(238, 238, 238, 0.664);
}

#sidetoc li a.light {
    color: rgba(22, 22, 22, 0.664);
}

#sidetoc li a:hover {
    text-decoration: none;
    transition: 0.6s;
    border-left: 4px solid rgb(48, 75, 102);
    padding: 0px 5px;
}

#tocbtn {
    transition: 0.4s;
    transition-delay: 0.3s;
    border-radius: 7px;
    position: fixed;
    right: 100px;
    top: 100px;
    padding: 0px 8px 0px 8px;
}

#tocbtn.dark {
    color: rgba(238, 238, 238, 0.664);
    background-color: rgba(61, 61, 61, 0.555);
}

#tocbtn.light {
    color: rgba(22, 22, 22, 0.664);
    background-color: rgba(208, 208, 208, 0.555);
}

.toc-highlight {
    color: white;
}

.list-item {
    border-radius: 3px;
    padding: 10px;
}

.list-item.dark {
    border: 1px solid #3D3D3D;
    background-color: rgb(39, 41, 43);
}

.list-item.light {
    border: 1px solid #A3A3A3;
    background-color: #E4E4E4;
}

.list-item+.list-item {
    margin-top: 10px;
}

.entry-title {
    font-size: large;
    font-weight: bold;
}

.list-item p {
    margin: 5px 0px;
}

.meta {
    font-size: small;
}

.meta.dark {
    color: #9C978E;
}

.meta.light {
    color: #645F56;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 0px;
    height: 100%;
    transition: 0.3s;
}

#random-meme {
    font-size: 20px;
}

button {
    padding: 15px 32px;
    border: none;
    margin: 5px;
    font-size: 16px;
    color: white;
}

.button-red {
    background-color: #AD1810;
}

.button-green {
    background-color: #206D38;
}

.content {
    width: 90%;
    margin: 0px auto auto auto;
    word-break: break-word;
}

.div-table {
    overflow: auto;
}

.div-table::-webkit-scrollbar-thumb {
    background-color: #575757;
}

.fl-scrolls::-webkit-scrollbar-thumb {
    background-color: #575757;
}

table {
    border-collapse: collapse;
}

table.dark,
th.dark,
td.dark {
    border: 1px solid #616060;
}

table.light,
th.light,
td.light {
    border: 1px solid #6C6C6C;
}

th,
td {
    padding: 5px 10px;
}

th.dark {
    background-color: #304B66;
}

th.light {
    background-color: #A7A7A7;
}

tr:nth-child(even).dark {
    background-color: #464545;
}

tr:nth-child(even).light {
    background-color: #DDDDDD;
}

h1.dark,
h2.dark,
h3.dark {
    border-bottom: 1px solid #3D3D3D;
}

h1.light, h2.light, h3.light {
    border-bottom: 1px solid #A3A3A3;
}

#title {
    text-align: center;
    margin: 20px;
    padding-bottom: 5px;
}

.spacer {
    height: 50px;
}

/* code  */
pre {
    overflow: auto;
    background-color: #2C2F30;
    font-size: 16px;
    padding: 5px;
}

pre.dark {
    background-color: #202020;
    color: #2E3133;
}

pre.dark > code {
    color: #B6B6B6;
}

pre.light {
    background-color: #E4E4E4;
    color: #EEEEEE;
}

pre.light > code {
    color: #4E4E4E;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 10px solid #2C2C2C;
    padding-left: 10px;
}

.pinned {
    color: #EAD94C;
}

.posts.dark {
    border: 1px solid #3D3D3D;
}

.posts.light {
    border: 1px solid #A3A3A3;
}

.post {
    padding: 10px;
}

.post+.post {
    border-top: 1px solid #3D3D3D;
}


.post p {
    margin: 4px 0px;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-title {
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

.nav-next-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #3D3D3D;
}

.nav-top {
    font-size: 25px;
}

ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #3D3D3D;
}

.nav-top:hover {
    text-decoration: none;
}

.grayed-out {
    color: rgb(70, 69, 69);
}

footer {
    padding: 30px;
    margin-top: 40px;
}

footer.dark {
    border-top: 1px solid #3D3D3D;
    background-color: #1E2227;
}

footer.light {
    border-top: 1px solid #A3A3A3;
    background-color: #EDEDED;
}

.footer-content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
}

.contact-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-github {
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-mail {
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-phone {
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /* background-color:#1C1E1F; */
    align-items: flex-start;
    border-radius: 3px;
    padding: 10px;
}

.contact-form input,
.contact-form button,
.contact-form textarea {
    color: #D8D6D0;
    background-color: #181A1B;
    border-radius: 3px;
    border: 1px solid #3D3D3D;
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 50%;
}

.contact-form textarea {
    height: 200px;
    width: 50%;
}

.contact-form button {
    padding: 15px 32px;
    height: auto;
    width: auto;
}


/* .footer-phone{
    margin-left: 20px;
}
.footer-mail{
    margin-right: 20px;

} */

@media only screen and (max-width: 700px) {
    #sidenav {
        width: 0px;
    }

    #main {
        margin-left: 0px;
    }

    #closebtn {
        left: 0px;
    }

    #scroll-top {
        left: 0px;
    }

    #light-switcher {
        left: 0px;
    }

    .content {
        width: 95%;
        margin: 0px auto auto auto;
    }

    .footer-content {
        flex-direction: column;
    }

    .contact-info {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1000px) {
    .footer-content {
        width: 100%;
    }
}

@media only screen and (max-width: 440px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        width: 70%;
        margin: 0px auto auto auto;
    }

}

/* mathjax */
code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}